<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<header th:replace="layout/layout :: header">

</header>
<div class="py-4 mx-auto" style="max-width: 90%;">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0" th:text="${tittle}"></h5>
        </div>
        <div class="card-body">
            <h4 class="card-title">
                <a th:href="@{/register-employee}" class="btn btn-primary">
                    Agregar Empleado
                </a>
            </h4>
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Género</th>
                    <th>Salario</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Detalles</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.idEmployee}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td th:text="${employee.sex}"></td>
                    <td th:text="${#numbers.formatDecimal(employee.salary, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td th:text="${#dates.format(employee.birthDate, 'dd-MM-yyyy')}"></td>
                    <td>
                        <a th:href="@{/view-employee-detail/{id}(id=${employee.idEmployee})}"
                           class="btn btn-info btn-sm">Detalles</a>
                    </td>
                    <td>
                        <a th:href="@{/edit-employee/{id}(id=${employee.idEmployee})}"
                           class="btn btn-warning btn-sm">Editar</a>
                    </td>
                    <td>
                        <a th:href="@{/remove-employee/{id}(id=${employee.idEmployee})}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('¿Estas seguro de eliminar al empleado?')">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
        <div class="card-footer text-muted">
            Total de empleados: <span th:text="${employees.size}"></span>
        </div>

        <nav th:replace="paginator-nav :: paginator">

        </nav>
    </div>
</div>
<footer th:replace="layout/layout :: footer">

</footer>
</body>
</html>